.idea
.git
venv/
__pycache__/
*.py[cod]

assets/vbox-guest-additions/*.iso
assets/inventory/
assets/offline-files/
assets/offline-images/
assets/registry-volume/
assets/certs/

test.sh

kubespray/
kubespray.bak/
